.hero-default {
    background-size: cover;
    height: 70vh;
    background-position: 0px 10%;
    display: flex;
    position: relative;
}

.hero-default h1,
.hero-default h3 {
    color: var(--light);
}
.hero-default::before {
    content: "";
    background: linear-gradient(90deg,#0000008f, #fff0);
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-default-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    z-index: 10;
    gap: 15px;
}
.hero-default-content * {
    margin: 0;
    line-height: 1;
}

.hero-default-content h1 span {
    font-style: italic;
    color: var(--light);
}