<section class="text-block container">
    {% if fields.title %}
        <h1>{{ fields.title }}</h1>
    {% endif %}

    {% if fields.content %}
        <p>{{ fields.content }}</p>
    {% endif %}
</section>
