<section class="text-block container" style="{{ values.custom_css }}">
    {% if values.title %}
        <h1>{{ values.title }}</h1>
    {% endif %}

    {% if values.content %}
        <p>{{ values.content }}</p>
    {% endif %}
</section>
