.title-block {
    width: fit-content;
    text-align: center;
}
.title-block-left {
    text-align: left;
}

.title-block h1,
.title-block h4 {
    margin: auto;
}

.title-block h4 {
    color: var(--text);
}