.block-title h2 {
    margin-bottom: 0;
}

.block-title h5 {
    margin: 0;
    font-size: 1.3rem;
}

.block-title .sep-title h2 {
    width: fit-content;
}

.block-title .sep-title h5 {
    width: fit-content;
}

.block-title .sep-title {
    width: fit-content;
}

.block-title .sep-title .sep {
    width: 100%;
    height: 1px;
    background-color: #0000003b;
    margin: 8px 0;
}