@use '../variables' as vars;
@use '../mixins' as mixins;

.button {
  font-family: vars.$font-family-base;
  background-color: vars.$color-primary;
  color: white;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  @include mixins.rounded(8px);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: vars.$color-secondary;
  }
}