@charset "UTF-8";





body {
  margin: 0;
}
p, ul {
  color: var(--context-text, var(--text));
}
h1, h2, h3 {
  color: var(--context-heading, var(--accented));
}
span {
  color: var(--context-span, var(--color2));
}

html, body {
  height: 100%;
  margin: 0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* prend toute la hauteur visible */
}

.site-content {
  flex: 1; /* pousse le footer vers le bas */
}

.footer {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
}



.text-entrance {
    opacity: 0;
    transform: translateY(20px);
    animation: textEntrance 2s ease forwards;
}

@keyframes textEntrance {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}






.highlight {
  background-color: aliceblue;
  transition: background-color 0.3s ease; /* la transition vers la couleur normale */
}

/* couleur normale à la fin */
.row {
  background-color: transparent;
}

.arrows-container .upArrow {
  font-size: 5rem !important;
}

/*# sourceMappingURL=style.css.map */


/* ------- CONTAINER BLOCKS ------- */

.container {
    display: flex;
    box-sizing: border-box;
    align-items: stretch;
    gap: 1rem;
}

.container--vertical {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.container--horizontal {
    flex-direction: row;
}

.container--wrap {
    flex-wrap: wrap;
}

.container--center {
    justify-content: center;
    align-items: center;
}

.container--space-between {
    justify-content: space-between;
}

.container--gap-vsm { gap: 0.5rem; }
.container--gap-sm { gap: 1rem; }
.container--gap-md { gap: 2rem; }
.container--gap-lg { gap: 3rem; }
.container--gap-vlg { gap: 4rem; }

.container--horizontal > .block {
    flex: 1 1 0; /* prend la même part, rétrécit si nécessaire */
    min-width: 0; /* IMPORTANT : pour que le texte long n'explose pas le container */
    margin: auto;
}


/* ------- READY TO USE CLASSES ------- */

.center {
    margin: 0 auto;
}

.background {
    background-color: var(--light);
}

.contained {
    max-width: 1200px;  /* largeur max du contenu */
    margin: 0 auto;     /* centre horizontalement */
    padding: 70px 1.5rem;  /* espace de respiration sur les côtés */
}


.full-width {
  width: 100vw;
}