/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

main {
    overflow: hidden;
}

/* COLORS */
:root {
    --light: #ffffff;
    --dark: #20222d;
    --accented: #1b7ad6;
    --color2: #7F9172;
    --color3: #D2883E;
    --text: #a1b0d3;
    --lighter-text: #5b6077;
    --darker-text: #1a1e31;
}
.block.color-inverted {
  --context-bg: var(--accented);
  --context-text: var(--light);
  --context-span: var(--light);
  --context-heading: var(--light);
  --context-accent: var(--color2);
}

/* FONTS */
* {
    font-family: 'afacad';
}


/* ----------- ELEMENTS ----------- */

.main-button {
    display: inline-block;
    color: var(--light);
    background-color: var(--accented);
    text-decoration: none;
    padding: 6px 12px;
    border: solid 1px var(--accented);
    border-radius: 20px;

    transition: 0.3s ease;
}
.main-button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: var(--light);
}

.contained {
    max-width: 1200px;  /* largeur max du contenu */
    margin: 0 auto;     /* centre horizontalement */
    padding: 70px 1.5rem;  /* espace de respiration sur les côtés */
}


/* ------- READY TO USE CLASSES ------- */

.center {
    margin: 0 auto;
}

.background {
    background-color: var(--light);
}


/* ------- CONTAINER BLOCKS ------- */

.container {
    display: flex;
    box-sizing: border-box;
    align-items: stretch;
    gap: 1rem;
}

.container--vertical {
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.container--horizontal {
    flex-direction: row;
}

.container--wrap {
    flex-wrap: wrap;
}

.container--center {
    justify-content: center;
    align-items: center;
}

.container--space-between {
    justify-content: space-between;
}

.container--gap-vsm { gap: 0.5rem; }
.container--gap-sm { gap: 1rem; }
.container--gap-md { gap: 2rem; }
.container--gap-lg { gap: 3rem; }
.container--gap-vlg { gap: 4rem; }

.container--horizontal > .block {
    flex: 1 1 0; /* prend la même part, rétrécit si nécessaire */
    min-width: 0; /* IMPORTANT : pour que le texte long n'explose pas le container */
    margin: auto;
}


