<section class="twi-block container">
    <div class="twi-text-container text-entrance">
        {% if values.title %}
            <h1>{{ values.title }}</h1>
        {% endif %}

        {% if values.content %}
            <p>{{ values.content }}</p>
        {% endif %}
    </div>
    
    {% if values.image %}
    <div class="twi-image">
        <img src="{{ values.image }}"></img>
    </div>
    {% endif %}
</section>

