<div class="container">
  {% if values.layout == 'default' %}
    <div class="">
      <img src="{{ values.image_link }}" style="{{ values.custom_css }}" alt="">
      <p class="image-block-description">{{ values.image_desc }}</p>
    </div>
  {% elseif values.layout == 'version2' %}
    <div class="">

    </div>  
  {% else %}
      <span>Erreur : layout</span>
  {% endif %}
</div>


