{% extends "base.twig" %}

{% block content %}
  {% if rendered_blocks %}
    {% for block in rendered_blocks %}
      {# Affiche directement le HTML généré par renderFrontend() #}
      {{ block.html|raw }}
    {% endfor %}
  {% else %}
    <p>Aucun bloc défini pour cette page.</p>
  {% endif %}

{% endblock %}