{% extends "base.twig" %}

{% block content %}
  {% if rendered_blocks %}
    {% for block in rendered_blocks %}
      {% set template_path = 'blocks/' ~ block.type ~ '/view.twig' %}

      {% if source(template_path, ignore_missing = true) is not empty %}
        {% include template_path with block %}
      {% else %}
        <div class="block-missing">
          <p>⚠️ Aucun template trouvé pour le bloc : <strong>{{ block.type }}</strong></p>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>Aucun bloc défini pour cette page.</p>
  {% endif %}
{% endblock %}
