.citation-container {
    max-width: 650px;
}

.citation {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}
.source {
    margin: 0;
    margin-top: 0.5em;
}

.source a {
    color: var(--accented);
}