{% set lang = options.available_langs[0] ?? 'fr' %}

{# Collecter tous les liens vidéo dynamiques #}
{% set video_links = [] %}

{% for key, value in values %}
  {% if key starts with 'video_link_' %}
    {# Gérer le cas trad vs notrad #}
    {% if value is iterable and value[lang] is defined %}
      {% set video_links = video_links|merge([value[lang]]) %}
    {% else %}
      {% set video_links = video_links|merge([value]) %}
    {% endif %}
  {% endif %}
{% endfor %}

{# Extraire les IDs YouTube #}
{% set video_ids = [] %}

{% for link in video_links %}
  {% if link is not empty %}
    {% set video_id = '' %}
    
    {# Cas 1: lien avec watch?v= #}
    {% if 'watch?v=' in link %}
      {% set video_id = link|split('v=')|last|split('&')|first %}
    {% elseif 'youtu.be/' in link %}
      {# Cas 2: lien court #}
      {% set video_id = link|split('/')|last|split('?')|first %}
    {% endif %}
    
    {% if video_id is not empty %}
      {% set video_ids = video_ids|merge([video_id]) %}
    {% endif %}
  {% endif %}
{% endfor %}

{# Reste du template inchangé #}
<div class="video-pres-block">
  <div class="container center">
    {% if video_ids|length > 0 %}
      <div class="vp-video-container">
        <iframe width="800px" height="450px"
          src="https://www.youtube.com/embed/{{ video_ids[0] }}"
          title="YouTube video"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>

      <div class="vp-thumbnails-container">
        {% for id in video_ids %}
          <div class="vp-thumbnail" data-src="https://www.youtube.com/embed/{{ id }}">
            <img src="https://img.youtube.com/vi/{{ id }}/hqdefault.jpg" alt="">
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>Aucune vidéo ajoutée</p>
    {% endif %}
  </div>
</div>