<div class="container">
  {% if values.layout == 'default' %}
    <div class="citation-container center">
      <h3 class="citation"> {{ values.citation }} </h3>
      <p class="source"> {{ values.source }} <a href="{{ values.link }}" target="_blank">{{ values.link_text }}</a></p>
    </div>
  {% else %}
      <span>Erreur : layout</span>
  {% endif %}
</div>
