.twi-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Text container */
.twi-text-container {
    flex: 1;
    max-width: 50%;
}

/* Image container */
.twi-image {
    flex: 1;
    max-width: 50%;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.twi-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
    cursor: pointer;
}

/* Hover effect */
.twi-image:hover img {
    transform: scale(1.02);
}

.twi-image:hover {
    box-shadow: 0 8px 20px rgb(23, 36, 47);
}

/* Layout inversé pour le second layout */
.twi-block.reverse {
    flex-direction: row-reverse;
}

/* POPUP */
.img-popup-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.img-popup-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
